.terms {
  padding: 120px 0 110px;
  &__inner {
    &-nav {
      display: flex;
      align-items: center;
      padding-bottom: 25px;
      border-bottom: 1px solid rgba($white, 0.8);
      margin-bottom: 40px;
      h6 {
        font-weight: 700;
        a {
          background: $white;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          &:hover {
            opacity: 1;
            background: linear-gradient(90deg, #3578e2 0%, #4d97e8 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
        }
      }
      span {
        margin: 0 5px;
      }
    }
    &-title {
      margin-bottom: 40px;
    }
    &-content {
      max-width: 1030px;
      h6 {
        margin-bottom: 20px;
        font-weight: 700;
        &:last-child {
          margin: 0;
        }
      }
      p {
        margin-bottom: 44px;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
// 1024px
@mixin terms-lg-xlg {
  .terms {
    padding: 80px 0 100px;
  }
}
// 540px
@mixin terms-xsm-sm {
  .terms {
    padding: 55px 0 100px;
    &__inner {
      &-nav {
        display: none;
      }
    }
  }
}
