.belief {
  &__inner {
    &-title {
      margin-bottom: 40px;
    }
    &-slider {
      margin: 0 -14px;
      &:hover {
        .slick {
          &-arrow {
            opacity: 1;
          }
        }
      }
    }
  }
  .slick {
    &-track {
      display: flex !important;
    }
    &-list {
      overflow: visible !important;
    }
    &-slide {
      height: unset !important;
      margin: 0 14px;
    }
    &-arrow {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $black;
      z-index: 2;
      position: absolute;
      cursor: pointer;
      transition: 0.3s ease;
      overflow: hidden;
      font-size: 0;
      opacity: 0;
      &:hover {
        opacity: 1;
        background-color: $black;
      }
      &:focus {
        background-color: $black;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20%;
        height: 20%;
        background: url("../images/icons/arrow-sm-white.svg") no-repeat center;
        background-size: cover;
        transform: translate(-50%, -50%);
        pointer-events: none;
        z-index: 1;
        opacity: 1;
      }
      @keyframes arrowLeft {
        0% {
          transform: translate(40px, -50%);
          opacity: 0;
        }
        100% {
          transform: translate(-50%, -50%);
          opacity: 1;
        }
      }
      @keyframes arrowRight {
        0% {
          transform: translate(-40px, -50%) scaleX(-1);
          opacity: 0;
        }
        100% {
          transform: translate(-50%, -50%) scaleX(-1);
          opacity: 1;
        }
      }
    }
    &-prev {
      left: 30px;
      &.slick-disabled {
        &::before {
          opacity: 1;
        }
      }
      &:hover {
        &::before {
          animation: 0.4s ease arrowLeft;
        }
      }
    }
    &-next {
      right: 30px;
      &.slick-disabled {
        &::before {
          opacity: 1;
        }
      }
      &:hover {
        &::before {
          animation: 0.4s ease arrowRight;
        }
      }
      &::before {
        transform: translate(-50%, -50%) scaleX(-1);
      }
    }
  }
  &Item {
    display: block;
    position: relative;
    &.new {
      .beliefItem {
        &__inner {
          min-height: 500px;
        }
      }
      &:hover {
        opacity: 1;
        &::before {
          opacity: 1;
        }
        .beliefItem {
          &__overlay {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      z-index: 3;
      border-radius: 5px;
      content: "";
      transform: translate(-50%, -50%);
      background: linear-gradient(90deg, #3578e2 0%, #4d97e8 100%);
      opacity: 0;
      transition: 0.3s ease;
      pointer-events: none;
    }
    &:hover {
      opacity: 1;
      .beliefItem {
        &__bg {
          &::after {
            opacity: 0.7;
          }
        }
      }
      img {
        transform: scale(1.2);
      }
    }
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 4;
      background-color: $black;
      border-radius: 5px;
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      opacity: 0;
      transition: 0.3s ease;
      visibility: hidden;
    }
    &__card {
      padding: 20px 30px;
      background-color: #333333;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      color: $white;
      box-sizing: border-box;
      margin-bottom: 14px;
      &:last-child {
        margin: 0;
      }
      p {
        max-width: 230px;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h4 {
        display: block;
        height: unset;
        line-height: 120%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 5px;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(
          12.08deg,
          rgba(53, 120, 226, 0) 39.21%,
          #007aff 91.18%
        );
        background: linear-gradient(
            12.08deg,
            rgba(53, 120, 226, 0) 39.21%,
            #007aff 91.18%
          ),
          linear-gradient(
            0.17deg,
            rgba(0, 0, 0, 0.4) 0.15%,
            rgba(0, 0, 0, 0.36) 11.37%,
            rgba(0, 0, 0, 0) 88.95%
          );
        opacity: 0.5;
        transition: 0.8s ease;
        z-index: 1;
      }
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: #000000;
        opacity: 0.5;
        transition: 0.8s ease;
        z-index: 0;
      }
      img {
        @include fullImage;
        transition: 0.8s ease;
      }
    }
    &__inner {
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      z-index: 2;
      box-sizing: border-box;
      min-height: 500px;
      h4 {
        margin-bottom: 15px;
        font-weight: 700;
        line-height: 32px;
        height: 96px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        margin-bottom: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 26px;
        height: 52px;
      }
    }
    &__link {
      display: flex;
      align-items: center;
      padding: 15px 0;
      b {
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        background: linear-gradient(90deg, #3578e2 0%, #4d97e8 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      svg {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }
  }
}
// 1180px
@mixin belief-xlg-xxlg {
  .belief {
    &__inner {
      &-slider {
        margin: 0 -8px;
      }
    }
    &Item {
      &__inner {
        min-height: 400px;
        padding: 24px;
      }
    }
    .slick {
      &-slide {
        margin: 0 8px;
      }
      &-arrow {
        width: 50px;
        height: 50px;
      }
      &-prev {
        left: 15px;
      }
      &-next {
        right: 15px;
      }
    }
  }
}
// 650px
@mixin belief-sm-md-extra {
  .belief {
    &.new {
      display: none;
    }
    &__inner {
      &-slider {
        margin: 0 -11px;
      }
    }
    &Item {
      &:hover {
        opacity: 1;
        .beliefItem {
          &__bg {
            &::after {
              opacity: 0.7;
            }
          }
        }
        img {
          transform: scale(1);
        }
      }
      &__inner {
        padding: 22px 22px 150px 22px;
        min-height: 500px;
      }
    }
    .slick {
      &-list {
        width: calc(100% - 22px);
      }
      &-slide {
        margin: 0 11px;
      }
      &-dots {
        position: absolute;
        bottom: 90px;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          width: 15px;
          height: 3px;
          border-radius: 10px;
          background-color: rgba($white, 0.8);
          margin: 0 5px;
          transition: 0.3s ease;
          &.slick-active {
            width: 92px;
            background-color: $white;
          }
          button {
            display: none;
          }
        }
      }
    }
  }
}
