.benefits {
  overflow: hidden;
  padding-top: 100px;
  &.sm {
    margin: 0;
    padding: 100px 0;
    .benefits {
      &__inner {
        padding: 75px 0;
      }
    }
  }
  &.uniq {
    margin-bottom: 70px;
  }
  &__inner {
    background-color: $black2;
    position: relative;
    padding: 125px 0;
    &::before {
      position: absolute;
      top: 0;
      right: calc(100% - 2px);
      background-color: $black2;
      width: 100%;
      height: 100%;
      content: "";
    }
    &-title {
      max-width: 780px;
    }
    &-foot {
      display: none;
    }
    h6 {
      margin-bottom: 18px;
    }
    h2 {
      margin-bottom: 40px;
    }
    ul {
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      border-left: 3px solid $primary;
      position: relative;
      &.sm {
        padding: 0;
        border: unset;
      }
      li {
        padding-left: 24px;
        position: relative;
        &::before {
          position: absolute;
          top: 13px;
          left: 9px;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: $white;
          content: "";
        }
      }
    }
  }
  &Item {
    padding: 0 !important;
    margin-bottom: 20px;
    &:last-child {
      margin: 0;
    }
    &::before {
      display: none;
    }
    &__head {
      display: flex;
      align-items: center;
      span {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h6 {
        margin: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        &.mob {
          display: none;
        }
      }
    }
    &__body {
      display: none;
    }
  }
}
// 1024px
@mixin benefits-lg-xlg {
  .benefits {
    padding-top: 0;
    margin-top: 50px;
    background-color: $black2;
    &.sm {
      padding: 0;
      margin: 50px 0;
    }
    &.uniq {
      margin-bottom: 50px;
    }
    &__inner {
      padding: 80px 0;
      &::before {
        display: none;
      }
    }
  }
}
// 540px
@mixin benefits-xsm-sm {
  .benefits {
    &.uniq {
      margin-bottom: 30px;
    }
    &.sm {
      margin: 50px 0 0;
      .benefits {
        &__inner {
          padding: 55px 0 76px;
        }
      }
    }
    &__inner {
      padding: 50px 0;
      &-foot {
        display: flex;
        justify-content: center;
        padding-top: 30px;
      }
      h2 {
        margin-bottom: 30px;
        font-size: 28px;
      }
      ul {
        border: unset;
        li {
          padding-left: 18px;
          border-left: 3px solid $primary;
          line-height: 180%;
          margin-bottom: 20px;
          // &:nth-child(n + 4) {
          //   display: none;
          // }
          &::before {
            display: none;
          }
        }
      }
    }
    &Item {
      border: unset !important;
      &__head {
        margin-bottom: 10px;
        h6 {
          display: none;
          &.mob {
            display: block;
          }
        }
      }
      &__body {
        display: flex;
        p {
          font-size: 14px;
          line-height: 150%;
        }
      }
    }
  }
}
