.places {
  display: none;
  padding-top: 50px;
  &__inner {
    position: relative;
    &-slider {
      margin: 0 -14px;
      padding-bottom: 50px;
      position: static !important;
      max-width: 300px;
    }
    .slick {
      &-track {
        display: flex !important;
      }
      &-slide {
        height: unset !important;
        margin: 0 14px;
        & > div {
          height: 100%;
        }
      }
      &-list {
        overflow: visible !important;
      }
      &-dots {
        display: flex !important;
        align-items: center;
        justify-content: center;
        left: 0;
        bottom: 0;
        z-index: 2;
        li {
          width: 15px;
          height: 15px;
          margin: 0 10px 0 0;
          border-radius: 10px;
          overflow: hidden;
          transition: 0.3s ease;
          &.slick-active {
            width: 93px;
            button {
              background-color: $primary;
            }
          }
          &:last-child {
            margin: 0;
          }
          button {
            width: 100%;
            height: 100%;
            background-color: rgba($primary, 0.5);
            transition: 0.3s ease;
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
  &Item {
    padding: 40px 20px;
    background-color: #333333;
    border-radius: 5px;
    height: 100%;
    box-sizing: border-box;
    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      h6 {
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        background: linear-gradient(90deg, #3578e2 0%, #4d97e8 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-left: 14px;
      }
    }
  }
}
// 540px
@mixin places-xsm-sm {
  .places {
    display: block;
  }
}
