$primary: #4d97e8;
$main: #243342;
$black: #000;
$black2: #333;
$white: #fff;
$gray: #ecf1f4;
// fonts

$mainFont: "Montserrat", sans-serif;
$inter: "Inter", sans-serif;
$gloria: "Gloria Hallelujah", cursive;
